[submodule "3rdparty/nemo-qml-plugin-notifications"]
	path = 3rdparty/nemo-qml-plugin-notifications
	url = https://github.com/SfietKonstantin/nemo-qml-plugin-notifications.git
[submodule "3rdparty/nemo-keepalive"]
	path = 3rdparty/nemo-keepalive
	url = https://github.com/nemomobile/nemo-keepalive.git
[submodule "3rdparty/libdsme"]
	path = 3rdparty/libdsme
	url = https://github.com/nemomobile/libdsme.git
[submodule "3rdparty/libiphb"]
	path = 3rdparty/libiphb
	url = https://github.com/nemomobile/libiphb.git
[submodule "3rdparty/mce-dev"]
	path = 3rdparty/mce-dev
	url = https://github.com/nemomobile/mce-dev.git
[submodule "3rdparty/libprofile-qt"]
	path = 3rdparty/libprofile-qt
	url = https://github.com/nemomobile/libprofile-qt.git
[submodule "3rdparty/libconnman-qt"]
	path = 3rdparty/libconnman-qt
	url = https://github.com/nemomobile/libconnman-qt.git
[submodule "3rdparty/libcommhistory"]
	path = 3rdparty/libcommhistory
	url = https://git.merproject.org/mer-core/libcommhistory.git
[submodule "3rdparty/qtpim"]
	path = 3rdparty/qtpim
	url = https://git.merproject.org/mer-core/qtpim.git
[submodule "3rdparty/qtcontacts-sqlite"]
	path = 3rdparty/qtcontacts-sqlite
	url = https://github.com/nemomobile/qtcontacts-sqlite.git
[submodule "3rdparty/libcontacts"]
	path = 3rdparty/libcontacts
	url = https://github.com/nemomobile/libcontacts.git
[submodule "3rdparty/libmlocale"]
	path = 3rdparty/libmlocale
	url = https://github.com/nemomobile/libmlocale.git
